<form class="submit-form" *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>
  <div>
    <h2>Sign In</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        [(ngModel)]="user.username"
        name="username"
        minlength="3"
        maxlength="50"
        [pattern]="userNamePattern"
        #username="ngModel"
      />
      <div class="alert-danger" *ngIf="username.errors && f.submitted">
        <div *ngIf="username.errors.pattern">User name not valid.</div>
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength">
          Username must be at least 3 characters
        </div>
        <div *ngIf="username.errors.maxlength">
          Username must be at most 50 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        [type]="hide ? 'password' : 'text'"
        required
        minlength="5"
        maxlength="100"
        #password="ngModel"
      />
      <div class="alert-danger" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 5 characters
        </div>
        <div *ngIf="password.errors.maxlength">
          Password must be at most 100 characters
        </div>
      </div>
      <!--      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-info btn-block">
      Sign In
    </button>
  </div>
  <div class="form-group">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="isLoginFailed"
    >
      Login failed: {{ errorMessage }}
    </div>
  </div>
</form>

