<div class="manage-buttons">
  <div>
    <button class="manage-button" (click)="hidePosts = !hidePosts">Show posts</button>
  </div>
  <div>
    <button class="manage-button" (click)="hideExpertRequest = !hideExpertRequest">Show expert's request
    </button>
  </div>
</div>
<div *ngIf="!hideExpertRequest">
  <div class="list"
       *ngFor="let expert of experts;"
  >
    <div class="list-group-item">
      <div class="username">
        {{expert.username}}
      </div>
      <div class="expert-name">
        {{expert.name}}
      </div>
      <div class="expert-qualification">
        {{expert.qualification}}
      </div>
      <div class="expert-online-help">
        {{expert.onlineHelp}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="confirmExpert(expert.id)">
          Confirm expert
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hidePosts">
  <div class="list"
       *ngFor="let post of posts;"
  >
    <div class="list-group-item">
      <a class="post-title" routerLink="/posts/{{ post.id }}">
        {{ post.title}}
      </a>
      <div class="post-description">
        {{post.description}}
      </div>
      <div class="info">
        <p class="author">
        </p>
        <p class="date">
          {{post.createdDate | date:'longDate'}}
        </p>
        <p class="author">
          {{post.author}}
        </p>
        <div *ngIf="post.deleted">
          <p class="deleted">Deleted</p>
          <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="restorePost(post.id)">
              Restore
            </button>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" routerLink="/posts/{{ post.id }}/edit">Edit post</button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)="removeFromPublicAccess(post.id)">Remove from public
            access
          </button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)="deletePost(post.id)">Delete post</button>
        </div>
      </div>
    </div>
  </div>
</div>
