.post-info {
  max-width: 1200px;
  margin: auto;
}

.post-title {
  font-size: x-large;
}

.post-description {
  font-style: italic;
}

.post-text {
  text-align: justify;
  font-size: 17px;
  word-wrap: break-word;
}
.rating {
  margin: 30px;
  text-align: center;
  font-size: 	x-large;
}

.btn {
  margin: 10px;
}

.login-notify {
  margin: 30px;
  text-align: center;
  font-size: 	x-large;
}

.post-image {
  text-align: center;
  max-height: 1080px;
  max-width: 1920px;
  overflow:hidden;
}

.post-description {
  font-size: 17px;
  /*text-align: center;*/
}

.alert-danger {
  text-align: center;
  font-size: 17px;
}
