<div class="list"
     *ngFor="let post of pageOfItems;"
>
  <div class="list-group-item">
    <a class="post-title" routerLink="/posts/{{ post.id }}">
      {{ post.title}}
    </a>
    <div class="post-description">
      {{post.description}}
    </div>
    <div class="info">
      <p>Rating: {{post.rating}}</p>
      <p class="date">
        {{post.createdDate | date:'medium'}}, {{post.author}}
      </p>
    </div>
  </div>
</div>
<div class="pagination">
  <jw-pagination [pageSize]="5" [items]="posts" (changePage)="onChangePage($event)"></jw-pagination>
</div>
