<div>
  <button class="btn btn-primary btn-block" (click)="hideUsers = !hideUsers">Show users</button>
</div>
<div *ngIf="!hideUsers">
  <div class="list"
       *ngFor="let user of users;"
  >
    <div class="list-group-item">
      <div class="username">
        Username: {{user.username}}
      </div>
      <div class="name">
        {{user.firstName}} {{user.lastName}}
      </div>
      <div class="roles">
        Roles: {{user.roles}}
      </div>
      <div *ngIf="!user.roles.includes('MODERATOR')">
        <button class="btn btn-primary btn-block" (click)="addModer(user.id)">Add moder role</button>
      </div>
      <strong *ngIf="isSuccessful">Strong</strong>
    </div>
  </div>
</div>

