<div>
  <div class="list"
       *ngFor="let user of users;"
  >
    <div class="list-group-item">
      <div class="username">
        Username: {{user.username}}
      </div>
      <div class="name">
        {{user.firstName}} {{user.lastName}}
      </div>
      <div class="roles">
        Roles: {{user.roles}}
      </div>
      <div *ngIf="!user.roles.includes('MODERATOR')">
        <button class="btn btn-success m-2" (click)="addModer(user.id)">Add moder role</button>
      </div>
      <div *ngIf="user.roles.includes('MODERATOR')">
        <button class="btn btn-danger m-2" (click)="removeModer(user.id)">Remove moder role</button>
      </div>
    </div>
  </div>
</div>

